<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/faq.css" rel="stylesheet">
    <link href="/css/global.css" rel="stylesheet">
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<th:block th:include="Navigation/navigation.html"></th:block>

<div class="accordion">

    <h1 th:text="#{CommonlyAskedQuestions}"></h1>
    <div class="accordion-item" id="purchasings">
        <input type="checkbox" id="accordion1">
        <label for="accordion1" class="accordion-item-title" th:text="#{HowToMakePurchase}"><span class="icon"></span></label>
        <div class="accordion-item-desc" th:text="#{HowToMakePurchaseDescription}"></div>
    </div>

    <div class="accordion-item" id="guarantees">
        <input type="checkbox" id="accordion2">
        <label for="accordion2" class="accordion-item-title" th:text="#{JewelryGuarantee}"><span class="icon"></span></label>
        <div class="accordion-item-desc" th:text="#{JewelryGuaranteeDescription}"></div>
    </div>

    <div class="accordion-item" id="delivery">
        <input type="checkbox" id="accordion3">
        <label for="accordion3" class="accordion-item-title" th:text="#{DeliveryTime}"><span class="icon"></span></label>
        <div class="accordion-item-desc" th:text="#{DeliveryTimeDescription}"></div>
    </div>

    <div class="accordion-item" id="purchasesOutsideBG">
        <input type="checkbox" id="accordion4">
        <label for="accordion4" class="accordion-item-title" th:text="#{PurchasesOutsideBG}"><span class="icon"></span></label>
        <div class="accordion-item-desc" th:text="#{PurchasesOutsideBGDescription}"></div>
    </div>

    <div class="accordion-item" id="handmade">
        <input type="checkbox" id="accordion5">
        <label for="accordion5" class="accordion-item-title" th:text="#{MakingHandMade}"><span class="icon"></span></label>
        <div class="accordion-item-desc" th:text="#{MakingHandMadeDescription}"></div>
    </div>

    <div class="accordion-item" id="ring-measure">
        <input type="checkbox" id="accordion6">
        <label for="accordion6" class="accordion-item-title" th:text="#{RingMeasureFind}"><span class="icon"></span></label>
        <div class="accordion-item-desc">
            <p th:text="#{RingMeasurerWays}"></p>
            <p th:text="#{FirstWay}"></p>
            <p th:text="#{SecondWay}"></p>
            <img src="http://res.cloudinary.com/dvvt1mxzy/image/upload/v1705652529/staticImages/a7437d18-6906-433f-b26b-191806478cbb.png">
            <p th:text="#{ThirdWay}"></p>
            <p th:text="#{RingMeasureMoreInfo}"></p>
            <p th:text="#{RingMeasureMoreInfo2}"></p>
            <img src="http://res.cloudinary.com/dvvt1mxzy/image/upload/v1705652483/staticImages/fe878fe5-f0d8-4d94-899e-542cafb5d9b7.png">
        </div>
    </div>

</div>

<th:block th:include="Footer/footer.html"></th:block>
</body>
</html>